# requirements.txt
Django~=4.2.0
mysql-connector-python==8.0.33
# virtualenv==20.0.31 # Remove this line if not needed
Pillow==11.2.1
django-renderpdf~=5.0
requests~=2.31.0
dj-database-url~=2.1
gunicorn~=21.2 # <-- Add gunicorn
whitenoise~=6.6 # <-- Add whitenoise for static files