# requirements.txt
Django~=4.2.0
# Remove mysql-connector-python line
mysqlclient # Add this line (or mysqlclient==2.2.0, for example)
# virtualenv==20.0.31 # Usually not needed
Pillow==11.2.1
django-renderpdf~=5.0
requests~=2.31.0
dj-database-url~=2.1
gunicorn~=21.2
whitenoise~=6.6